/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	background-color: #fefefe;
    /*font-family: "Lato";*/
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    color: #222;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.left-al {
	text-align: left;
}

.centered {
    text-align: center;
}

a {
    color: #222222;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.link {
	color: #0000cc;
}

.link:hover {
	color: #0000ff;
}

a:hover,
a:focus {
    color: #222222;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 700;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
    background: #ffffff;
	/*border-color: #2d2d2d;*/
	border-color: #ccc;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

.navbar-inverse .navbar-brand {
    height: 48px;
    width: 106px;
    background: url(../img/tcm_logo.jpg) no-repeat
}

.navbar-inverse .navbar-brand i {
	color: #ff7878;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-name {
    height: 48px;
    width: 144px;
    text-align: center;
    float: left;
    padding-top: 5px;
}

#headerwrap {
    background: url(../img/speed-dark.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
    /*opacity: 0.7;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 150px;
	color: white;
	font-size: 56px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#about_headerwrap {
    background: url(../img/Group_photo_main.jpg) no-repeat center top;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#apply_headerwrap {
    background: url(../img/handshake.jpg) no-repeat center top; /*handshake3*/
    margin-top: -10px;
    padding-top:20px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 450px;
    width: 100%;
    /*opacity: 0.7;*/
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#investors_headerwrap {
    background: url(../img/stocks_dark_shrink.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top:20px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width: 100%;
    /*opacity: 0.7;*/
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact_headerwrap {
    background: url(../img/nassau_hall.jpg) no-repeat center top;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 475px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#f {
    border-top: 1px solid #ccc;
	padding-top: 20px;
	font-weight: 300;
	font-size: 14px;
    background-color: #444; /*#f6f6f6; #eee;*/
    color: #fff;
    /*-moz-box-shadow: 0 -2px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 -2px 1px rgba(0,0,0,0.5);
    box-shadow: 0 -2px 1px rgba(0,0,0,0.5);*/
}

.w {
	padding-top: 35px;
}

.w h4 {
	font-weight: 700;
}

.w i {
	color: #ff7878;
	font-size: 30px;
}

.subtext {
	font-size: 12px;
}

#txt_overlay {
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.team {
    cursor: pointer;
}

.team-block img {
    border: 1px solid white;
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.team-header {
    text-align: center;
}

.seperator {
	border-top: 1px solid #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.pad-top {
    padding-top: 18px;
}

.pad-top5 {
    padding-top: 5px;
}

.modal-body {
    font-size: 14px;
}